.animated-headline {
  position: relative;
  perspective: 1000px;
  display: inline-block;

  b {
    white-space: nowrap;
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    text-align: center;

    &.active {
      position: relative;
    }
  }
}