.section-intro {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.15);
  }

  .title {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 50px;
    @include vw-font-size(600, 50);
  }

  .animated-headline {
    position: relative;
    width: 150px;
    perspective: 1400px;
    display: inline-block;

    b {
      position: absolute;
      left: 0;
      top: 0;
      display: block;

      &.active {
        position: relative;
      }
    }
  }
}